/* Basic setup */
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

html {
    max-width: 1140px;

    font-family: 'Roboto', sans-serif;
    font-size: 15px;

    /* setting up the background img */
    background: url(./img/red.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}





.keys {
    /*Keep things centered*/
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.key {
    flex: 1;
    border: 10px solid #E6E6FA;
    border-radius: 20px;
    margin-right: 25px;

    background-color: #B0C4DE;
    /*make some space & nice border*/
    padding: 15px;


    /*make the inside text center*/
    text-align: center;

    color: #DC143C;

    /*dependency*/
    box-shadow: 0px 0px 0px 0px none;
    transition: box-shadow 0.06s linear;
}

div kbd {
    display: block;
    font-size: 200%;
    margin-bottom: 10px;
}

div span {
    color: black;
    font-weight: 300;
}

.playing {
    border: 10px solid #DC143C;
    box-shadow: 0px 0px 0px 2px #FFD700;

    margin: 0.5em;
}